<div class="app-container">
  <div class="form-wrapper">
    <h1 class="form-title">Sign up</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required />
      <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Add user name!
      </span>

      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required />
      <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Add email!
      </span>

      <label for="password">Password:</label>
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        id="password"
        formControlName="password"
        minlength="8"
      />
      <span
        *ngIf="
          form.get('password')?.invalid &&
          form.get('password')?.touched &&
          form.get('password')?.errors?.['minlength']
        "
      >
        Password must be at least 8 characters long!
      </span>
      <span
        *ngIf="
          form.get('password')?.invalid &&
          form.get('password')?.touched &&
          !form.get('password')?.errors?.['minlength']
        "
      >
        Please add a password!
      </span>
      <div class="checkbox">
        <label for="showPassword">Show Password</label>
        <input
          type="checkbox"
          id="checkbox"
          formControlName="checkbox"
          (change)="togglePasswordVisibility()"
        />
      </div>

      <button [disabled]="form.invalid" type="submit">Sign Up</button>
    </form>
  </div>
</div>
